<div class="row">
	
	<div class="col-md-4 col-md-offset-4 well home-well">
	<h1 id="logo-text">Classable.</h1>
	<p class="lead"> Sign in to Classable. </p>
	<% if flash[:errors] %>
		<ul>
			<% flash[:errors].each do |error| %>
			<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>
	<form action="<%= session_url %>" method="post" accept-charset="utf-8">
		<%# Set up helper method to do this authenticity token %>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<div class="input-group">
			<span class="input-group-addon input-group-home glyphicon glyphicon-user"></span>
			<input 
			  class="form-control"
				type="text" 
				name="session[user]" 
				value="" 
				id="user-username"
				placeholder="Username or Email">
		</div>
	  <br>
			<div class="input-group">
				<span class="input-group-addon input-group-home glyphicon glyphicon-lock"></span>
				<input 
					class="form-control"
					type="password" 
					name="session[password]" 
					value="" 
					id="user-password"
					placeholder="Password (min. 6 characters)">
			</div>
   <br>
		<button type="submit" class="btn btn-lg btn-info btn-full"> 
			Log In
		</button>
	</form>
	<br>
		<p>Want Your Own Account? &nbsp;&nbsp; <%= link_to "Sign Up Here", new_user_url %></p>
		<br>
	  Just want to look around?  Try out the guest account.
	<br>
	<form action="/session" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<div style="display:none;">
		<input type="text" name="session[user]" value="guest">
		<input type="password" name="session[password]" value="password">
	</div>
	<button type="submit" class="btn btn-lg btn-warning btn-full"> 
		Login as Guest
	</button>
	</form>

	
	
</div>
</div>




