<div class="col-md-2">
	<!-- User Profile image goes here -->
	<img src="<%= post.get('author').avatar %>" class="img-circle profile-image">
</div>
			
<div class="col-md-10 feed-post">
	<div class="left-triangle"></div>
	<div class="post-background">
		<div class="post-author"><a href="/<%= post.get('author').username %>"><%= post.get('author').username %></a></div>
		<span class="feed-quote-text"><%= post.escape('quote') %></span>
		<div class="post-md-body"><%= marked(post.escape('post_text')) %>
		<br>
	  <% if (post.get('source_link').length > 0) { %>
		<span class="quote-source">-- <%= post.escape('source') %></span>
		<% } %>
		</div>
	</div>
<div class="clear-div"></div>
</div>

