<div class="col-md-2">

	<img src="<%= post.get('author').avatar %>" class="img-circle profile-image">
</div>
			
<div class="col-md-10 feed-post">
	<div class="left-triangle"></div>
	<div class="post-background">
		<div class="post-author"><a href="/<%= _.escape(post.get('author').username) %>"><%= post.get('author').username %></a></div>
		<div class="feed-video">
		
				<iframe width="640" height="360" src="//www.youtube.com/embed/<%= post.escape('media_url') %>" frameborder="0" allowfullscreen></iframe>
			</div>
		<!-- <div class="post-md-body"><%= marked(post.escape('post_text')) %></div> -->
	
	</div>
	<% if (user.id === post.get('author').id) { %>
	  <div class="post-controls">
			<a href="#" class="delete-post" data-id="<%= post.id %>">DELETE</a>
			 - 
			<a href="#" class="edit-post" data-id="<%= post.id %>">EDIT</a>
		</div>
	<% } %>
<div class="clear-div"></div>
</div>

