<% form_action = action == :new ? users_url : user_url(@user) %>
<% form_method = action == :new ? "post" : "put" %>
<% button_text = action == :new ? "Sign Up" : "Update Account" %>

<form action="<%= form_action %>" method="post" accept-charset="utf-8">
	<%# Set up helper method to do this authenticity token %>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="<%= form_method %>">
	
	
		
		<div class="input-group">
			<span class="input-group-addon input-group-home glyphicon glyphicon-user"></span>
			<input 
			  class="form-control"
				type="text" 
				name="user[username]" 
				value="<%= user.username %>" 
				id="user-username"
				placeholder="Username">
		</div>

	<br>

		<div class="input-group">
			<span class="input-group-addon input-group-home glyphicon glyphicon-envelope"></span>
			<input 
				class="form-control"
				type="text" 
				name="user[email]" 
				value="<%= user.email %>" 
				id="user-email"
				placeholder="Email Address">
		</div>

	<br>

		<div class="input-group">
			<span class="input-group-addon input-group-home glyphicon glyphicon-lock"></span>
			<input 
				class="form-control"
				type="password" 
				name="user[password]" 
				value="<%= user.password %>" 
				id="user-password"
				placeholder="Password (min. 6 characters)">
		</div>

	<br>

	<button type="submit" class="btn btn-lg btn-info btn-full"> 
		<%= button_text %>
	</button>
</form>