<!DOCTYPE html>
<html>
<head>
  <title>Tumblr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="outer-container">
		<% if logged_in? %>
		<div id="logged-in">
			Welcome Back <%= current_user.username %>  
			<div class="logout-div"
				<%= button_to "logout", session_url, :method => :delete %>
			</div> 
		</div>
		<% end %>
		<div id="inner-container">
		

			<% if flash[:errors] %>
				<ul>
					<% flash[:errors].each do |error| %>
					<li><%= error %></li>
					<% end %>
				</ul>
			<% end %>

			<%= yield %>
		</div>
	</div>
</body>
</html>
