<!DOCTYPE html>
<html>
<head>
  <title>Tumblr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if logged_in? %>
		Welcome Back <%= current_user.username %> | 
		<%= button_to "logout", session_url, :method => :delete %>
	<% end %>

	<% if flash[:errors] %>
		<ul>
			<% flash[:errors].each do |error| %>
			<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>

<%= yield %>

</body>
</html>
